* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  height: 100vh;
  background-color: #8a98f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#homepage-container {
  height: 90%;
  width: 90%;
  border-radius: 20px;
  flex-direction: column;
  background-color: white;
  padding: 20px;
}

.all-topic {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  flex-direction: column;
}
.quiz-topic {
  background-color: rgb(239, 242, 245);
  margin: 12px 40px;
  padding: 10px;
  width: 300px;
  height: 200px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.2) 0px 4px 6px -4px;
}

button {
  background-color: #8a98f1;
  color: #fff;
  padding: 10px 25px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  margin-top: auto;
  border-radius: 20px;
}

.fa-brands,
.fa-solid {
  font-size: 80px;
  margin-bottom: 15px;
  margin-top: 20px;
}

.fa-react {
  color: skyblue;
}

.fa-css3 {
  color: #2862e9;
}

.fa-html5 {
  color: rgb(255, 140, 0);
}

.fa-git-alt {
  color: #e72124;
}

.fa-js {
  color: #e8d44d;
}

.fa-database {
  color: forestgreen;
}
