* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  height: 100vh;
  background-color: #8a98f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-topic {
  margin: 20px;
}

#quizz {
  height: 90%;
  width: 90%;
  border-radius: 20px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
  margin-top: 10px;
  margin-right: 20px;
  background-color: #8a98f1;
  color: #fff;
  padding: 10px 40px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  border-radius: 20px;
}

#quiz-container {
  padding: 20px;
}

.quiz-step {
  display: none;
}

.quiz-step.active {
  display: block;
}
