* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  height: 100vh;
  background-color: #8a98f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-topic {
  margin: 20px;
}

#quizz {
  min-height: 90%;
  width: 90%;
  border-radius: 20px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
}

button {
  margin-top: 10px;
  margin-right: 20px;
  background-color: #8a98f1;
  color: #fff;
  padding: 10px 40px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  display: inline;
  transition: 0.4s;
}

button:hover {
  background-color: #5f68a3;
}

#quiz-container {
  display: flex;
  align-items: center;
  padding: 20px;
}

.quiz-step {
  display: none;
}

.quiz-step h3 {
  color: #8a98f1;
}

.quiz-step p {
  font-weight: 600;
  font-size: 20px;
  margin-top: 2%;
  margin-bottom: 5%;
}

.quiz-step.active {
  display: block;
}

.quiz-step input[type="radio"],
.quiz-step input[type="checkbox"] {
  margin-right: 10px;
}

.quiz-step label {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 60px 10px 10px;
  min-width: 400px;
  border-radius: 5px;
  border: 1px solid #aaa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#timer {
  font-weight: 600;
  font-size: 18px;
}

.obtainedScore {
  color: #8a98f1;
}

.correct {
  color: forestgreen;
}

.wrong {
  color: red;
}
