* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  height: 100vh;
  background-color: #8a98f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-topic {
  margin: 20px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #8a98f1;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #8a98f1;
}

#quiz-container {
  height: 90%;
  width: 90%;
  border-radius: 20px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quiz-step {
  display: none;
}

.quiz-step.active {
  display: block;
}
