* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  height: 100vh;
  background-color: #8a98f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home {
  height: 90%;
  width: 90%;
  border-radius: 20px;
  flex-direction: column;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

h1 {
  margin-bottom: 3%;
  padding: 0;
}

button {
  margin-top: 8%;
  padding: 10px 20px;
  width: 100%;
  background-color: #8a98f1;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  transition: 0.4s;
}

button:hover {
  background-color: #5f68a3;
}

input {
  padding: 10px;
  max-width: 100%;
  border-radius: 20px;
  outline: none;
  border: none;
  font-size: 15px;
  color: #333858;
  box-shadow: 1px 1px 1px #8a98f1 inset, -1px 0px 1px #8a98f1 inset;
}

.login {
  background-color: #e7e8f3;
  padding: 20px;
  border-radius: 20px;
}

svg {
  border-radius: 20px;
}
